openapi: 3.2.0
info:
  title: Offers AWS Partners API
  description: 'Customer-facing API for managing AWS Marketplace private offers on

    `aws.offers.tackle.io`.'
  version: 3.2.0
servers:
- url: https://aws.offers.tackle.io/api
  description: AWS Offers Service
tags:
- name: Partners
  description: AWS Marketplace partner (reseller) reference data.
paths:
  /partners:
    get:
      summary: List AWS Marketplace Partners
      description: 'Returns a curated list of AWS Marketplace resale partners with their

        company names and AWS account IDs. Use this list to populate a

        partner picker when creating a partner (resale) private offer.


        **Required RBAC permission:** `offers:CreateDraftOffer`'
      operationId: listPartners
      tags:
      - Partners
      security:
      - TackleJwt: []
      responses:
        '200':
          description: List of AWS Marketplace partners.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Partner'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
components:
  schemas:
    Partner:
      type: object
      description: AWS Marketplace partner (reseller).
      properties:
        name:
          type: string
          description: Partner company name.
          example: RiskQ, Inc,
        awsAccountId:
          type: string
          description: AWS account ID (12-digit string).
          pattern: ^\d{12}$
          example: '977757234053'
      required:
      - awsAccountId
    Error:
      type: object
      description: 'Error response. Endpoints in the **Private Offers** and **Marketplace**

        tags return the error in a `message` field. The **Partners** endpoint

        returns the error in an `error` field. At least one of the two will

        always be populated.

        '
      properties:
        message:
          type: string
          description: Error message (Private Offers and Marketplace endpoints).
          example: private offer not found
        error:
          type: string
          description: Error message (Partners endpoint).
          example: authorization failed
  responses:
    Forbidden:
      description: Caller is authenticated but not authorized for this resource.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Missing or invalid Tackle JWT.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    TackleJwt:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Tackle-issued JWT bearer token. Pass as

        `Authorization: Bearer <jwt>`. The token must include a vendor ID

        claim and the principal must hold the per-endpoint RBAC permission

        listed in each operation''s description.

        '
externalDocs:
  description: Tackle Developer Documentation
  url: https://developers.tackle.io/
